{% include 'header.html.twig' %}
Strona główna <br>
    {% if user is defined %}
        Jesteś zalogowany jako: {{user.getName()}} 
        
        <a href="/loginform/logout/">Wyloguj</a>
    {% endif %}
   
{% include 'footer.html.twig' %} 